@media screen and (max-width: 480px) {
  .pets {
    color: rgb(77, 142, 180);
  }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    &_carga_pets {
      flex: 2;
      background: rgb(250, 156, 147);
    }
    &_carga_pets2 {
      flex: 1;
      background: rgba(250, 156, 147, 0.356);
    }
  }
  .mas__animales {
    display: flex;
    align-items: center;
    flex-direction: row;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .cont {
    width: 275px;
    height: 50px;
    border: rgb(250, 156, 147) solid;
    color: white;
    border-radius: 15px;
    background-color: rgb(250, 156, 147);
  }
}
@media screen and (min-width: 480px) {
  .pets {
    color: rgb(77, 142, 180);
  }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    .barra_carga_pets {
      flex: 2;
      background: rgb(250, 156, 147);
    }
    .barra_carga_pets2 {
      flex: 1;
    }
  }
}

@media screen and (min-width: 767px) {
  .pets {
    color: rgb(77, 142, 180);
  }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    .barra_carga_pets {
      flex: 2;
      background: palevioletred;
    }
    .barra_carga_pets2 {
      flex: 1;
    }
  }
}

@media screen and (min-width: 950px) {
  .pets {
    color: rgb(77, 142, 180);
  }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    .barra_carga_pets {
      flex: 2;
      background: palevioletred;
    }
    .barra_carga_pets2 {
      flex: 1;
    }
  }
}
