@media screen and (max-width: 480px) {
  input {
    border: none;
    border-bottom: black solid 1px;
    width: 250px;
    padding: 10px;
  }

  // .form {
  //   font-size: small;
  // }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    &_carga_adopcion1 {
      flex: 1;
      background: rgb(250, 156, 147);
    }
    &_carga_adopcion2 {
      flex: 2;
      background: rgba(250, 156, 147, 0.356);
    }
  }

  .your_date {
    color: rgb(77, 142, 180);
    margin: 3px;
    padding: 5px;
  }
  .name {
    margin-top: 5px;
    padding-top: 5px;
  }
  .email {
    margin-top: 5px;
    padding-top: 5px;
  }
  .telefono {
    margin-top: 5px;
    padding-top: 5px;
  }
  .dni {
    margin-top: 5px;
    padding-top: 5px;
  }
  .direction {
    color: rgb(77, 142, 180);
    margin: 3px;
    padding: 5px;
  }

  .validation {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    color: rgb(77, 142, 180);
  }

  .continue {
    width: 275px;
    height: 50px;
    border: rgb(250, 156, 147);
    color: white;
    border-radius: 15px;
    background-color: rgb(250, 156, 147);
  }
}

@media screen and (min-width: 480px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}
