@media (max-width: 480px) {
    .petlist{
        padding: 8%;

        &__card{
            border: 2px solid #bdd2d6;
            border-radius: 2%;
            margin: 8% 0%;
        }

        &__fav{
            position: absolute;
            right: 8%;
            padding: 2%;
            z-index: 1;
        }

        &__img{
            width: 100%;
            height: 216px;
            object-fit: cover;
            border-radius: 2% 2% 0% 0%;
            border-bottom: 2px solid #bdd2d6;
        }

        &__name{
            font-weight: bold;
            color: #01748e;
            margin: 0%;
            font-size: 20px;
        }

        &__data{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2% 4%;
            text-align: right;
            
            &__details{
                display: flex;
                flex-direction: column;
            }
            
        }
        &__text{
            margin: 0;
            font-size: 10px;
        }

        
    }

    
  }