@media (max-width: 320px), (min-width:320px) {

    .registerChoose{
        background-image: url('../../images/register_img/fondo.png');
        background-image: url('../../images/register_img/fondo@2x.png');
        background-image: url('../../images/register_img/fondo@3x.png');
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 5px;

        &__title{
            align-items: center;
            color: rgb( 14, 54, 61);
            font-weight: lighter;
        }
        &__link a{
            text-decoration: none;
            color: rgb( 14, 54, 61);
            font-size: 12px;
        }
    }


    .register{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo{
            margin-top: 120px;
        }

        &__title{
            color: rgb(1, 116, 142);
            font-size: 20px;
            font-weight: 400
        }
         
        &__form{
            width: 80%;            
            display: flex;
            flex-direction: column;
            margin-right: 20px;
          

            &__input{
                width: 100%;
                border: none;
                border-bottom: 1px solid rgb(189, 210, 214);
                padding: 15px;
                
            }
            &__file{
                color:  rgba(1, 116, 142, 0.534); ;
                min-width: 100px;
                height: 100px;
                margin-top: 15px;
                margin-bottom: -20px;
            }
            &__paragraf{
                color: rgb(1, 116, 142);
                font-size: 12px;
                margin-top: 15px;
            }
        }
    }

}
