.step1{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;

    &__details{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__info{
        display: flex;
        flex-direction: row;
    }

    &__icon{
        width: 1.6rem;
        height: 1.6rem;
    }
}