.button{
    padding: 10px;
    width: 50%;
    align-self: center;
    border-radius: 8px;
    margin: 10px;
    color: white;
    border: none;

    &--blue {
        background-color: rgb(1, 116, 142);
    }
    &--pink {
        background-color: rgb(250, 156, 147);
    }

    &--icon {
        background-color: rgb(1, 116, 142);
    }
    &--disabled {
        background-color: rgb(110, 110, 110);
    }
}