.profile {
    display: flex;
    flex-direction: column;

    &__avatar{
       margin: 10px;
       margin-top: 35px;
        &__image{
            border: 2px solid rgb(1, 116, 142);
            border-radius: 60%;
            width: 80px;
            height: 80px;
        }
    }
    
    &__list{
        list-style: none;
        width: 100%;
        &__separation{
            margin-bottom: 80px;
        }

        &__item {
            position: relative;
            display: flex;
            border: 1px solid rgb(189, 210, 214);
            border-radius: 3px;
            padding: 15px;
            margin: 15px;
            align-items: center;
            color: rgb(1, 116, 142);
            justify-content: flex-start;
            
            
        }
        &__item:hover{
            border: 1px solid rgb(1, 116, 142);
        }
        &__icon-left{
            width: 30px;            
            margin-right: 10px;
        }
        &__icon-right{            
            width: 10px;
            position: relative;
            left: 50%;
        
            
        }
    }
}

.avatar{
    border: 2px solid rgb(1, 116, 142);
    border-radius: 60%;
    align-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.avatar-pink{
    border: 2px solid rgb(223, 75, 107);
    border-radius: 60%;
    width: 40px;
    height: 40px;
    margin-right: 20px;

}