@media screen and (max-width: 480px) {
  // .home {
  //   display: flex;
  //
  // }
  body {
    margin: 10px;
    padding: 20px;
  }
  .hello-home {
    font-size: xx-large;
    color: rgb(97, 97, 165);
  }
  // .container {
  //   display: flex;
  //   color: rgb(97, 97, 165);
  //   justify-content: space-between;
  // }
  .carouselprovider {
    margin: 20px;
    padding: 10px;
  }

  .carousel-inner {
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgb(199, 194, 194);
    border: rgb(199, 194, 194) solid;
    border-radius: 10px;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: rgb(250, 186, 218) solid 5px;
    border-radius: 10px;
    margin: 15px;

    h5 {
      font-size: medium;
      color: white;

      margin: 0;
      padding: 40px;
      background-color: rgb(250, 186, 218);
    }
    img {
      width: 100%;
      //height: 250px;
    }
  }

  .footerLinks {
    display: flex;
    ul {
      display: flex;
    }
    li {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      width: 5px;
      height: 5px;

      margin: 15px;
    }
    img {
      display: flex;
      justify-content: space-around;
      width: 55px;
      height: 55px;
      margin: 5px;
      padding: 5px;
    }
  }
}

@media screen and (min-width: 480px) {
  .imagenes {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .imagenes {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .imagenes {
    display: flex;
    margin: 10px;
  }
}
