.petcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__menu{
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        margin-top: -2rem;
    }

    &__submenu{
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__male{
        padding-right: 1rem;
    }

    &__index{
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
    }

    &__card{
        width: 100%;
    }

    &__button{
        border: none;
        background-color: #ffffff;
        font-size: 16px;
        width: 30%;
        color: #01748e;

        &:focus{
            outline: 0;
            border-bottom: solid #FA929D;
        }
    }

    &__img{
        width: 100%;
        height: 216px;
        object-fit: cover;
        border-radius: 2% 2% 0% 0%;
        border-bottom: 2px solid #bdd2d6;
    }

    &__details{
        display: flex;
        flex: row;
    }
}
