@media screen and (max-width: 480px) {
  .logo-face {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 150px;

    img {
      width: 100px;
      height: 100px;
      display: flex;
    }
  }
}

@media screen and (min-width: 480px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}
