@media screen and (max-width: 480px) {
  .family_hogar {
    display: flex;
    color: rgb(77, 142, 180);
  }
  .barra {
    display: flex;
    width: 275px;
    height: 15px;
    &_carga_family {
      flex: 3;
      background: rgb(250, 156, 147);
    }
    &_carga_family2 {
      flex: 0;
      background: rgba(250, 156, 147, 0.356);
    }
  }
  .si-no {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .caseros {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .mudarte {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .jardin {
    display: flex;
    flex-direction: row-reverse;

    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .FormFamily {
    display: flex;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .adopcion {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .visithouse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &__si {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    &__no {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .enviar {
    width: 250px;
    color: white;
    border: rgb(250, 156, 147) solid;
    border-radius: 15px;
    background: rgb(250, 156, 147);
  }
}

@media screen and (min-width: 480px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}
