@media (max-width: 320px), (min-width:320px) {
*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    
    height: 62px;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
  
    &__box{
        box-shadow: -3px -4px 6px #7777773f;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 10px;

        .avatar{
            border: 2px solid rgb(1, 116, 142);
            border-radius: 60%;
            align-content: center;
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
        .avatar-pink{
            border: 2px solid rgb(223, 75, 107);
            border-radius: 60%;
            width: 40px;
            height: 40px;
            margin-right: 20px;

        }

        &__link{
            display: flex;
            justify-content: space-between;
        }

        &__image{
            width: 46%;
        }
    }
   


}


}