@media screen and (max-width: 480px) {
  // .carousel-gallery {
  //   display: flex;
  //   justify-self: center;
  //   text-align: center;
  //   margin: 20px;
  //   padding: 20px;
  // }

  .carousel-gallery {
    display: flex;
    text-align: center;
    // margin: 10px;
    // padding: 10px;
    // background-color: rgb(199, 194, 194);
    // border: rgb(199, 194, 194) solid;
    // border-radius: 10px;
    width: 400px;
    height: 300px;
  }
  &_adopcion {
    display: flex;
    text-align: center;
    // margin: 10px;
    // padding: 10px;
    // background-color: rgb(199, 194, 194);
    // border: rgb(199, 194, 194) solid;
    // border-radius: 10px;
    width: 400px;
    height: 300px;
  }
}

@media screen and (min-width: 480px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}
