.ms {
    display: flex;
    flex-direction: column;

    
    &__list{
        list-style: none;
        width: 100%;
        &__separation{
            margin-bottom: 80px;
        }

        &__item {
            position: relative;
            display: flex;
            border: 1px solid rgb(189, 210, 214);
            border-radius: 3px;
            padding: 15px;
            margin: 15px;
            align-items: center;
            color: rgb(1, 116, 142);
            justify-content: flex-start;

            &-exit{
                margin-bottom: 80px;
            }
            
        }
        &__item:hover{
            border: 1px solid rgb(1, 116, 142);
        }
        &__icon-left{
            width: 30px;            
            margin-right: 10px;
        }

        

    }
}

