
    .loginUser{
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__logo{
            margin-top: 120px;
        }

        &__title{
            color: rgb(1, 116, 142);
            font-size: 20px;
            font-weight: 400
        }
         
        &__form{
            width: 80%;            
            display: flex;
            flex-direction: column;
            margin-right: 20px;
          

            &__input{
                width: 100%;
                border: none;
                border-bottom: 1px solid rgb(189, 210, 214);
                padding: 15px;
                
            }
            &__change-pass{
                display: flex;
                color: rgb(14, 54, 61);
                font-size: 12px;
                justify-content: flex-end;
                margin-right: -30px;
                margin-top: 5px;
                text-decoration: none;
                
            }
            &__eye{
                color: rgba(1, 116, 142, 0.616);
                position: absolute;
                right:15px ;
                top:300px;
            }
        }
    }