@media screen and (min-width: 480px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 767px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}

@media screen and (min-width: 950px) {
  .logo {
    display: flex;
    margin: 10px;
  }
}
